body {
    font-family: sans-serif;
    background: #135ed0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

